---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Accordion from "../components/Accordion.astro";
import Partners from "../components/Partners.astro";
import CardPackage from "../components/CardPackage.astro";
import Blue from "../components/Blue.astro";
import Contact from "../components/Contact.astro";
import SliderReviews from "../components/SliderReviews.astro";
import SliderWebfeature from "../components/SliderWebfeature.astro";
---

<MainLayout>
  <section class="hero">
    <h1>Repair Service</h1>
    <p>I Tråd Med Verden tilbyder repair service på din arbejdsplads, hvilket gør genanvendelse let tilgængelig for din virksomheds medarbejdere, samtidig med at du styrker virksomhedens ESG-mål.</p>
    <div class="icons">
      <img class="icon" src="/img/svg/embroidery.svg" alt="Ikon af brodering" />
      <img class="icon" src="/img/svg/measure.svg" alt="Ikon af opmåling" />
      <img class="icon" src="/img/svg/repair.svg" alt="Ikon af reperation" />
    </div>
    <article>
      <Accordion question="Hvad tilbyder vi?" answer="Vi tilbyder reparation, tilpasning og fornyelse af tøj til din virksomheds medarbejdere. Vores team består af to syerske og en designer. De vil sidde klar ved symaskinerne, til at hjælpe jer med at forlænge levetiden på tøjet." />
      <Accordion question="Hvorfor skal du vælge os?" answer="Igennem repair service gør du genanvendelse let og tilgængeligt for dine medarbejdere, og du styrker din virksomheds E (environmental) & S (social) i jeres ESG mål. Samtidig støtter du ITMVs arbejde med at skabe flere lønnede timer til vores syersker." />
      <Accordion question="Hvordan foregår det?" answer="Sammen aftaler vi en fast dag, hvor vores team kommer ud til din virksomhed (Københavnsområdet, tilgængeligt med offentlig transport). Der vil være drop in og aflevering af tøjet om morgenen. Vi bestræber os på at blive færdige med dagens reparationer samme dag. Men det kan variere, afhængig af opgaven." />
    </article>
    <div class="center_button">
      <Button type="secondary">Bestil nu</Button>
    </div>
  </section>
  <section class="webfeatures">
    <article>
      <h2>Kvinderne bag repair service</h2>
      <p>Læs mere om kvinderne bag Repair Service teamet, og hør hvordan dette har været med til at ændrer deres hverdag.</p>
    </article>
    <SliderWebfeature />
  </section>
  <Blue heading="Pakker">
    <CardPackage name="Den Enkle" times="1 gang" price_one="5400" price_total="5400"> Repair service én gang </CardPackage>
    <CardPackage name="Den Intensive" times="1 uge" price_one="4100" price_total="20.500"> Repair service <br /> en hel uge intensivt </CardPackage>
    <CardPackage name="Den Kvartale" times="4 gange" price_one="4500" price_total="18.000"> Repair service en gang i kvartalet</CardPackage>
    <CardPackage name="Den Halvårige" times="6 gang" price_one="4500" price_total="27.000"> Repair service en gang om måneden, i 1/2 år </CardPackage>
    <CardPackage name="Den Årlige" times="12 gange" price_one="4500" price_total="54.000"> Repair service en gang om måneden, i et år</CardPackage>
    <CardPackage name="Den Hyppige" times="24 gange" price_one="4500" price_total="108.000"> Repair service to gange om måneden, i et år</CardPackage>
    <Button type="primary">Bestil nu</Button>
  </Blue>
  <Partners heading="Samarbejder" />
  <SliderReviews />

  <Contact />
</MainLayout>

<style>
  .hero {
    background-color: var(--secondary);
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .icons {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
  }
  .icon {
    width: 20%;
  }

  .center_button {
    display: flex;
    justify-content: center;
  }

  .webfeatures {
    padding: 4rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .webfeatures article {
    padding: 0rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
