---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
---

<MainLayout>
  <div>
    <Button> Tester </Button>
  </div>
</MainLayout>

<style>
  div {
    background-color: var(--primary);
    height: 100px;
    width: 300px;
    padding: 4rem;
  }
</style>
