---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import WFText from "../components/WFText.astro";
import Accordion from "../components/Accordion.astro";
import CardReview from "../components/CardReview.astro";
---

<MainLayout>
  <div>
    <Button type="primary"> Tester </Button>
    <Button type="secondary"> Tester Accent</Button>
  </div>
  <Accordion question="Hvad er spørgsmålet?" answer="Det er det der skal svares på her i dette tekst som du kan læse her :)" />
  <Accordion question="Hvad er spørgsmålet?" answer="Det er det der skal svares på her i dette tekst som du kan læse her :)" />
  <Accordion question="Hvad er spørgsmålet?" answer="Det er det der skal svares på her i dette tekst som du kan læse her :)" />
  <CardReview name="Sif Melkane" title="Multimediedesigner">
    <p>Her er et citat som jeg lige finder på, fordi der skal stå noget!</p>
  </CardReview>
  <WFText heading="Sif finder lige på noget">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae consectetur suscipit, corrupti, incidunt laudantium ea similique temporibus, officiis nostrum sapiente quia. Labore, quo harum delectus possimus alias saepe doloribus omnis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sint accusamus eos aut quo, blanditiis, distinctio in iusto recusandae, nisi et voluptate incidunt consequatur labore optio exercitationem nobis. Aliquid, delectus.</p>
  </WFText>
</MainLayout>

<style>
  div {
    background-color: var(--primary);
    height: 300px;
    width: 100%;

    padding: 1rem 2rem;
  }
</style>
