---
import CTA from "../components/CTA.astro";
import Carousel from "../components/Carousel.astro";
import Hero from "../components/Hero.astro";
import Text from "../components/Text.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <Hero name="Ira, syerske"> “Det har været med til at give håb om at kunne arbejde igen” </Hero>
  <Text heading="LOREM">
    <p>Hejda</p>
    <p>Hejda</p>
    <p>Hejda</p>
  </Text>
  <img src="/img/svg/timeline.svg" alt="Tidlinjer over Iras proces i forbindelse med ITMV" />
  <Text heading="LOREM">
    <p>Bla bla</p>
    <p>Bla bla</p>
  </Text>
  <video autoplay muted loop class="video">
    <source src="https://trineekberg.dk/kea/09_indhold/video/webfeature_mobile.mp4" type="video/mp4" />
  </video>
  <img class="timeline" src="/img/svg/graph.svg" alt="Grafik over praktikanternes tilfredshed, med deres praktikforløb hos IMTV " />
  <Text heading="LOREM">
    <p>Bla bla</p>
    <p>Bla bla</p>
  </Text>
  <Carousel />
  <CTA heading="Repair Service"> Lorem ipsum dolor sit amet consectetur, sunt impedit! Similique? </CTA>
</MainLayout>

<style>
  .video {
    width: 100%;
  }
</style>
