---
const { link, type } = Astro.props;
---

<a class={"button " + type} href={link}><span><slot /></span> </a>

<style>
  /* Stylet med udgangspunkt i Button 3 fra følgende CodePen eksempel af Sarath AR */
  /* https://codepen.io/sarath-ar/pen/dMKxxM?editors=1100 */
  a {
    font-family: var(--font_body);
    font-weight: 300;
    font-size: 1rem;

    display: inline-block;
    position: relative;
    border-bottom: thin solid;

    padding: 1rem 2rem;
    width: fit-content;
    cursor: pointer;
  }
  span {
    display: block;
  }
  a::before,
  a::after {
    content: "";
    width: 0;
    height: 1px;
    position: absolute;
    transition: all 0.2s linear;
    background: var(--white);
  }

  span::before,
  span::after {
    content: "";
    width: 2px;
    height: 0;
    position: absolute;
    transition: all 0.2s linear;
    background: var(--white);
  }
  a:hover::before,
  a:hover::after {
    width: 100%;
  }
  a:hover span::before,
  a:hover span::after {
    height: 100%;
  }

  /*----- button 3 -----*/
  .button::after {
    left: 0;
    bottom: 0;
    transition-delay: 0.6s;
  }
  .button span::after {
    transition-delay: 0.4s;
    right: 0;
    bottom: 0;
  }
  .button::before {
    right: 0;
    top: 0;
    transition-delay: 0.2s;
  }
  .button span::before {
    transition-delay: 0s;
    left: 0;
    top: 0;
  }

  .button:hover::after {
    transition-delay: 0s;
  }
  .button:hover span::after {
    transition-delay: 0.2s;
  }
  .button:hover::before {
    transition-delay: 0.4s;
  }
  .button:hover span::before {
    transition-delay: 0.6s;
  }

  /* TYPE */
  .primary {
    color: var(--white);
    border-color: var(--white);
  }
  .secondary {
    color: var(--accent);
    border-color: var(--accent);
  }

  .secondary::before,
  .secondary::after {
    background: var(--accent);
  }
  .secondary span::before,
  .secondary span::after {
    background: var(--accent);
  }
</style>
