---
const { name, title, type } = Astro.props;
---

<article>
  <div class="info front">
    <h2 class="name">{name}</h2>
    <h3 class="title">{title}</h3>
  </div>
  <div class="content front">
    <slot />
  </div>
  <img class=`quote_${type}` src="/img/svg/quote_beige.svg" alt="quote icon" />
</article>

<style>
  article {
    background-color: var(--secondary);
    height: 20rem;
    width: 15rem;
    margin: 1rem;
    position: relative;
    box-shadow:
      0px 1px 3px rgba(210, 210, 210, 0.8),
      0px 4px 10px rgba(210, 210, 210, 0.8);
    overflow: hidden;
  }
  .info {
    border-bottom: thin dashed var(--accent);
    padding: 2rem 1rem 0.5rem;
  }
  .content {
    padding: 1rem 1rem 2rem;
  }

  .name {
    text-transform: capitalize;
    font-size: 1.15rem;
    margin-bottom: 0.25rem;
  }

  .title {
    text-transform: none;
    font-size: 0.8rem;
  }

  .quote_1 {
    position: absolute;
    width: 8rem;
    top: 2.5rem;
    right: 7.5rem;
  }
  .quote_2 {
    position: absolute;
    width: 10rem;
    top: -1.5rem;
    right: -2.5rem;
  }
  .quote_3 {
    position: absolute;
    width: 13rem;
    top: 11.5rem;
    right: -2.5rem;
    rotate: 180deg;
  }

  .front {
    position: relative;
    z-index: 2;
  }
</style>
