---
const { name, times, price_one, price_total } = Astro.props;
---

<article>
  <div>
    <h2>{name}</h2>
    <h3>{times}</h3>
    <p><slot /></p>
  </div>
  <div class="prices">
    <p class="price"><span>{price_one}</span> kr./<span class="small_txt">gang</span></p>
    <p class="small_txt"><span>{price_total}</span> kr.</p>
  </div>
</article>
<style>
  article {
    border-left: solid var(--secondary);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
    width: 100%;
  }

  .prices {
    align-self: flex-end;
  }
  h2 {
    color: var(--secondary);
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 0.35rem;
  }
  h3 {
    color: var(--secondary);
    font-size: 0.75rem;
    text-transform: none;
    margin-bottom: 0.5rem;
  }
  p {
    color: var(--secondary);
  }

  .prices p {
    text-align: right;
  }

  .small_txt {
    font-size: 0.65rem;
  }
</style>
