---
const {} = Astro.props;
---

<section>
  <article>
    <div>
      <h2>Kontakt</h2>
      <p>Er du interesseret i et samarbejde?</p>
      <p>Kontakt Liv, Chef for Design og Udvikling for at høre mere.</p>
      <p class="mail">liv@itmv.dk</p>
    </div>
    <img class="image" src="/img/webp/contact_liv.webp" alt="Billede af Ira" />
  </article>
</section>

<style>
  section {
    background-color: var(--secondary);
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2rem;
  }
  .mail {
    font-weight: 500;
  }

  @media (min-width: 800px) {
    section {
      padding: 4rem 12rem;
      margin: 0 auto;
    }
    article {
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      gap: 4rem;
    }

    div {
      order: 2;
    }

    .image {
      max-width: 400px;
    }
  }
</style>
