---
const {} = Astro.props;
---

<section>
  <h2>Kontakt</h2>
  <p>Er du interesseret i et samarbejde?</p>
  <p>Kontakt Liv, Chef for Design og Udvikling for at høre mere.</p>
  <p class="mail">liv@itmv.dk</p>
  <img src="/img/webp/contact_liv.webp" alt="Billede af Ira" />
</section>

<style>
  section {
    background-color: var(--secondary);
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .mail {
    font-weight: 500;
  }
</style>
