---

---

<header>
  <a href="/">
    <img src="/img/logo.png" alt="logo" class="logo" />
  </a>
  <nav>
    <ul class="menu">
      <li><a href="/#">Shop</a></li>
      <li><a href="/#">Samarbejde</a></li>
      <li><a href="/#">Støt</a></li>
      <li><a href="/#">Om os</a></li>
    </ul>
    <div class="burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </nav>
</header>

<style>
  /***********************************  HEADER  ***********************************/
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10%;

    background-color: var(--secondary);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* position: relative;
    z-index: 10; */
  }

  .logo {
    height: 40px;
    width: auto;
    border-radius: 0px;
  }

  nav {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu li {
    margin-right: 1rem;
  }

  .menu li:last-child {
    margin-right: 0;
  }

  .menu a {
    display: block;
    padding: 1rem;
    color: var(--primary);

    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s;
    text-align: end;
  }

  .menu a:hover {
    color: var(--accent);
  }

  .burger {
    width: 30px;
    height: 20px;
    cursor: pointer;
  }

  .burger .line {
    width: 100%;
    height: 2px;
    background-color: var(--primary);
    margin-bottom: 5px;
    transition: 0.2s linear;
  }
  .burger {
    display: none;
  }
  @media screen and (max-width: 800px) {
    .menu {
      display: none;
    }
    .menu a {
      padding: 1rem 0;
    }
    .burger {
      display: block;
    }
    .burger.active .line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
      transition: 0.2s linear;
    }
    /* Gør mid */
    .burger .line:nth-child(2) {
      opacity: 0;
    }

    .burger.active .line:nth-child(2) {
      opacity: 0;
      transition: 0.15s linear;
    }

    .burger.active .line:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
      transition: 0.2s linear;
    }

    nav.active .menu {
      display: block;
      background-color: var(--secondary);
      opacity: 100%;
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    nav.active .menu li {
      margin: 10px 10%;
    }
  }
</style>

<script>
  // Burgermenu oprindelidt fundet på fronter

  const burger = document.querySelector(".burger");
  const nav = document.querySelector("nav");
  const menu = document.querySelector(".menu");
  const links = document.querySelectorAll(".menu li a");

  burger.addEventListener("click", () => {
    burger.classList.toggle("active");
    nav.classList.toggle("active");
  });

  links.forEach((link) => {
    link.addEventListener("click", () => {
      burger.classList.remove("active");
      nav.classList.remove("active");
    });
  });
</script>
