---
const { name } = Astro.props;
---

<article>
  <picture>
    <source media="(min-width:800px)" srcset="/img/webp/hero_desk.webp" class="hero_img" />
    <img src="/img/webp/hero_mobile.webp" alt="Billede af kvinde" />
  </picture>
  <div class="gradient">
    <div class="info">
      <h1 class="title">
        <slot />
      </h1>
      <h3 class="name">{name}</h3>
    </div>
  </div>
</article>

<style>
  article {
    position: relative;
  }

  .gradient {
    position: absolute;
    top: 0;
    height: 16rem;
    width: 100%;
    background: linear-gradient(180deg, rgba(239, 238, 234, 1) 35%, rgba(239, 238, 234, 0.9) 65%, rgba(239, 238, 234, 0.6) 80%, rgba(239, 238, 234, 0) 100%);
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 2rem;
  }

  .title {
    text-transform: none;
    text-align: center;
    font-size: 1.8rem;
  }
  .name {
    text-transform: capitalize;
    font-size: 1.25rem;
  }
  .arrow {
    width: 0.75rem;
  }

  @media (min-width: 800px) {
    .gradient {
      height: 8rem;
    }
  }
</style>
