---
const { heading } = Astro.props;
---

<section>
  <h2>{heading}</h2>
  <article>
    <img class="logo1" src="/img/svg/kab.svg" alt="KAB logo" />
    <img class="logo2" src="/img/svg/viking.svg" alt="Vikingeskibsmusset logo" />
    <img class="logo3" src="/img/svg/stark.svg" alt="Stark logo" />
    <svg width="130" viewBox="0 0 122 40">
      <title>Dansk Erhverv</title>
      <path
        d="M65.73 20.86h4.33L65.1 39.8h-7.36l-4.96-18.94h4.33l4.4 17.16 4.3-17.16zm37.83 7.45c0 2.7-1.63 4.4-3.96 4.7l5 6.9h-5.2l-6.55-9V40h-4.28V21h9.54c4.6 0 5.5 2.28 5.5 5.7v1.76zm-4.36-.4v-1.1c0-1.7-.3-2.5-2.4-2.5h-3.95v6.1h3.7c2.08 0 2.65-.5 2.65-2.5zm-27.58-7h13.72v3.4H75.9v4.3H85V32h-9.1v4.5h9.44v3.37H71.62v-19zm50.23 0l-4.97 19h-7.35L104.57 21h4.32l4.3 17.16L117.5 21h4.3zm-74.92 0h4.3v18.9h-4.3v-7.9h-7.2v8h-4.28v-19h4.3v7.6h7.18v-7.6zm-15 7.5c0 2.7-1.62 4.4-3.95 4.7l5 6.9h-5.2l-6.55-9.04V40h-4.3V21h9.57c4.5 0 5.44 2.23 5.44 5.64v1.77zm-4.35-.4v-1.1c0-1.7-.3-2.5-2.4-2.5h-3.95v6.1h3.7c2.08 0 2.65-.5 2.65-2.47zM0 20.9h13.72v3.4H4.3v4.3h9.1V32H4.3v4.5h9.42v3.32H0V20.84z"
      >
      </path>
      <path
        d="M71.6 18.27V.07h2.28v18.2H71.6zm6.3-9.37l8.08 9.37h-3.1L75.28 9 82.5.06h2.7L77.88 8.9zM54.6 4.65c0-1.96.33-3.06 1.42-3.8C57.3 0 58.92 0 62.2 0c1.98 0 3.12.1 5.04.3v1.8c-1.03-.14-3.4-.32-4.57-.32-1.96 0-3.52.03-4.24.15-1.5.28-1.7 1.34-1.7 2.83 0 2.03.48 2.37 2.2 2.77l5.83 1.4c2.9.7 3.48 1.3 3.48 4.7 0 4.48-.96 4.72-8.02 4.72-2.24 0-3.57-.08-5.1-.2v-1.87c1.1.1 3.33.3 6.05.3 4.23 0 4.9-.04 4.9-2.95 0-2.03-.05-2.53-1.97-2.98l-5.66-1.3c-3.62-.85-3.84-1.56-3.84-4.7zM48.98.05h2.27v18.2H47.2L37.63.9v17.37h-2.27V.07h4.1l9.52 17.4V.07zm-26.05 0h3.48l7.1 18.2h-2.2l-1.9-5H20l-1.92 5H15.9L22.93.08zM20.6 11.5h8.12L24.67.85 20.6 11.5zM8.14.07c3.68 0 6.2 1.16 6.34 5.3.04 1.23.1 2.8.1 3.8 0 1.86-.1 3.9-.15 4.4-.22 2.85-1.66 4.7-6.18 4.7H0V.07h8.13zm4.02 13.28c.07-.67.18-1.95.18-4.18 0-1.5-.08-1.96-.1-3.07-.08-3.7-2.07-4.25-4.65-4.25H2.2V16.5h5.5c2.8 0 4.2-.47 4.45-3.15z"
      ></path>
    </svg>
  </article>

  <style>
    article {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      gap: 4rem;
    }

    h2 {
      margin-bottom: 2rem;
    }
    .logo1 {
    }

    @media (min-width: 800px) {
      h2 {
        margin-top: 1rem;
      }
    }
  </style>
</section>
