---
import CardReview from "./CardReview.astro";
---

<div class="carousel">
  <div carousel-item>
    <CardReview name="Mark Petterson" title="Digital redaktør, KAB">
      <p>Fantastisk koncept. Jeg er glad for at kunne hjælpe de to syerske, med at få foden ind på arbejdsmarkedet.</p>
    </CardReview>
  </div>
  <div carousel-item>
    <CardReview name="Jonas Mørch Cohen" title="Kundechef, Stark">
      <p>Det er helt fantastisk, en af de bedste personalegoder jeg har oplevet i KAB. Den rammer lige ind i bæredygtighedsdagsordenen, og gør det enormt nemt. Samtidig løser ordningen også et dårlig samvittighedsproblem.</p>
    </CardReview>
  </div>
  <div carousel-item>
    <CardReview name="Sanne Kjær" title="Kundedirektør,  Dansk Erhverv">
      <p>Vi er vilde med konceptet med Repair Service, der på alle parametre talerdirekte ind i vores arbejde med at sætte mest muligt fokus på bæredygtige løsninger i hverdagen i et stort kontorhus. Det kommer ogsåtil at indgå i vores arbejde med ESG.</p>
    </CardReview>
  </div>
  <style>
    .carousel {
      display: flex;
      flex-direction: row;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      scrollbar-width: none;
      -ms-overflow-style: none;
      /* Set a minimum width to ensure horizontal scrolling */
      min-width: 100%;
      /* Allow items to wrap if they exceed container width */
      flex-wrap: nowrap;
    }

    .carousel::-webkit-scrollbar {
      display: none;
    }

    .carousel-item {
      width: 200px;
    }
  </style>
</div>
